<%- include('partials/header') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      
      <h1 class="namee">Hey I'm Abdul</h1>
      <h2>I'm a Developer from Toronto</h2>
      <a href="#ms" class="btn-about">Get to Know Me</a>
      
    </div>
  </section><!-- End Hero -->
  <section id="ms">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Mission Statement</h1>
      <p>
        My mission is to become an accomplished software developer who not only excels in technical skills but also thrives in contributing innovative solutions to real-world challenges. I am committed to continuous learning and growth in the field of software engineering.
        
      </p>
      
      <p>
        With a strong foundation in mechanical engineering industrial, I bring a unique perspective to the world of software development, combining problem-solving skills and creative thinking. My goal is to secure a co-op position as a software developer, where I can apply my evolving expertise and collaborate with like-minded professionals.
      </p>
      <p>I believe in the power of teamwork and innovation to drive progress. Through dedication, hard work, and a passion for coding, I aim to make a positive impact on the companies I work with and the software solutions I help create.
      </p>
      <p>Join me on this exciting journey of exploration, innovation, and collaboration in the ever-evolving world of software development. Together, let's build a brighter digital future.</p>
    </div>
    <div>
      <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="project" class="services">
          <div id="project">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Projects</h2>
              </div>
        
              <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box iconbox-blue">
                    <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                      </svg>
                      <i class="bi bi-piggy-bank-fill"></i>
                    </div>
                    <h4><a href="https://pay-fees.vercel.app">Bank App</a></h4>
                    <p>I'm thrilled to present my Bank Application, a sophisticated desktop solution developed in C# with WPF. This project embodies my dedication to creating intuitive, secure, and responsive applications. With features like seamless account management, real-time transactions, and robust security measures, it not only enhances the user experience but also meets the demands of modern banking. This endeavor allowed me to deepen my expertise in C# and WPF development while prioritizing user-centric design and data security. Explore this project to witness my commitment to crafting high-quality software solutions.</p>
                  </div>
                </div>
        
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box iconbox-orange ">
                    <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                      </svg>
                      <i class="bi bi-blockquote-right"></i>
                    </div>
                    <h4><a href="#">Online Pizza Stand</a></h4>
                    <p>Introducing PizzaPal, a sleek and efficient pizza ordering application meticulously crafted with C#. This user-friendly app offers a seamless experience, allowing pizza enthusiasts to customize their orders with an intuitive pizza builder. With features like express checkout, real-time order tracking, and exclusive promotions, PizzaPal elevates the pizza ordering process. Security is paramount, with secure payment options ensuring a worry-free transaction. PizzaPal isn't just an app; it's a culinary journey, promising a delightful and convenient way to satisfy your pizza cravings. Download PizzaPal now and experience the ultimate in pizza perfection at your fingertips.</p>
                  </div>
                </div>
        
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box iconbox-pink">
                    <div class="icon">
                      <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                      </svg>
                      <i class="bi bi-joystick"></i>
                    </div>
                    <h4><a href="#">Snake Game</a></h4>
                    <p>I'm thrilled to share my Snake Game, a classic and addictive creation developed using Python and Tkinter, with an object-oriented approach. This project showcases my passion for game development and programming principles. Featuring intuitive controls, colorful graphics, and the ability to keep track of high scores, it delivers a captivating gaming experience. Through this project, I've honed my skills in Python game development and object-oriented programming, emphasizing user engagement and score tracking. Dive into this project to experience my commitment to crafting entertaining and challenging games.
        
                    </p>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </section><!-- End Services Section -->
      
      </main><!-- End #main -->
    </div>
    <div>
      <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Services</h2>
            </div>
    
            <div class="row">
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                  <div class="icon">
                    <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                      <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                    </svg>
                    <i class="bi bi-globe"></i>
                  </div>
                  <h4>Web Development</h4>
                  <p>Building websites, web applications, and e-commerce platforms using various technologies and frameworks</p>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                  <div class="icon">
                    <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                      <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                    </svg>
                    <i class="bi bi-code-slash"></i>
                  </div>
                  <h4>Software Development</h4>
                  <p>Developing desktop applications, mobile apps (including Android), or custom software solutions for businesses.</p>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-yellow">
                  <div class="icon">
                    <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                      <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                    </svg>
                    <i class="bi bi-android2"></i>
                  </div>
                  <h4>Database Management</h4>
                  <p>Handling database design, optimization, maintenance, and data migration.</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Services Section -->
    
      </main><!-- End #main -->
    
    </div>
    <div>
      <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="#about">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>About</h2>
            </div>
    
            <div class="row">
              <div class="col-lg-4">
                <img style="width: 50%; padding: 0;" src="/img/ay.jpeg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>Software Engineer &amp; Developer</h3>
                <p >
                  Hello, I'm Abdul, a passionate and driven software engineering student at Centennial College. With a background in Nursing Science, I've embarked on an exciting journey of transitioning into the dynamic world of software development.
                </p>
                <p >
                  My love for problem-solving and creativity has led me to explore the vast realm of coding, where I've found my true calling. As I progress through my fourth semester in year two of my software engineering program, I am eager to apply my growing knowledge and skills to real-world challenges.
                </p>
                <p >
                  I believe in the power of continuous learning, and my goal is to secure a co-op position as a software developer. I see this as an opportunity not only to expand my horizons but also to contribute my expertise to a forward-thinking company. Collaboration, innovation, and a relentless pursuit of excellence are the core principles that guide me in my software development journey.
                </p>
                <p >
                  When I'm not immersed in code, you can find me exploring the latest tech trends, tackling coding projects, or simply enjoying a good book. I'm excited about the possibilities that lie ahead and look forward to sharing my experiences and insights on this website.
                </p>
                <p >
                  Thank you for joining me on this adventure, and feel free to connect with me to discuss anything related to software development, technology, or just to say hello. Let's code the future together!
                </p>
                
                <p><a class="btn-about" href="/resume.pdf" download>
                  Download Resume
                </a></p>
                
              </div>
            </div>
    
          </div>
        </section><!-- End About Section -->
      </main><!-- End #main -->
    </div>
    <main id="main">

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>If you have any questions, inquiries, or just want to say hello, feel free to use the contact form below – I'd love to hear from you! I'm always open to connecting with fellow enthusiasts, potential collaborators, or anyone interested in discussing exciting opportunities. Don't hesitate to get in touch, and I'll get back to you as soon as possible."</p>
          </div>
        <div>
          <div style="opacity: 1; transform: none;"><a href="mailto:Yakubu.Abdul212@gmail.com"><div class="contact_contactEmail__Fr6hH"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2.4rem" width="2.4rem" xmlns="http://www.w3.org/2000/svg"><path d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-80.8 108.9L531.7 514.4c-7.8 6.1-18.7 6.1-26.5 0L189.6 268.9A7.2 7.2 0 0 1 194 256h648.8a7.2 7.2 0 0 1 4.4 12.9z"></path></svg><span>Yakubu.Abdul212@gmail.com</span></div></a></div>
        </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  </section>
  

  <%- include('partials/footer') %> 